.bottomScreenBg {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image:
    radial-gradient(circle at 22.71% 20.11%, #3D7EAA, transparent 81%),
    radial-gradient(circle at 97.99% 51.05%, #FFE47A, transparent 83%),
    radial-gradient(circle at 50% 50%, #84e00b, #84e00b 100%);
}

.bottomScreenBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  color: white;
  mix-blend-mode: multiply;
  background-color: midnightblue;
}

.theEnd {
  font-family: "Euphoria Script";
  font-size: 33vmin;
}

.contactWrapper {
  position: absolute;
  right: 25%;
  bottom: 25%;
}

.contactButton {
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 20px 30px;
  color: midnightblue;
  background-color: rgb(255, 210, 116);
  font-size: 1.6rem;
}

.contactButton:hover {
  background-color: rgb(255, 239, 210);
  cursor: pointer;
}

.contactButton:active {
  background-color: rgb(255, 227, 174);
}
