.inBetweenSection {
  margin: 0;
  padding: 0;
}

.header {
  color: #f95fae;
  font-family: "Nixie One";
  font-size: clamp(2.5rem, 1.375rem + 5vw, 4rem);
  margin-left: 30%;
  margin-top: 30px;
}

.aboutSection {
  padding: 40px;
}

.card {
  color: oldlace;
  background-color: #72415e;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: clamp(240px, 40%, 600px);
  font-family: Spinnaker;
  padding: 20px;
  font-size: clamp(1rem, 0.7rem + 1.3333vw, 1.4rem);
  border-radius: 8px;
}

.projectsSection {
  background-color: #212424;
  color: oldlace;
  margin: 0;
  padding: 40px;
  display: flex;
  font-size: clamp(1rem, 0.625rem + 1.6667vw, 1.5rem);
  flex-direction: column;
}

.projectCard {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: 4px solid #72415e;
  border-radius: 8px;
  width: clamp(300px, 50%, 600px);
  box-sizing: content-box;
}

.projectTitle {
  width: 100%;
  background-color: #72415e;
  color: oldlace;
  padding: 8px;
  font-family: "ABeeZee";
  font-size: clamp(1.2rem, 0.9rem + 1.3333vw, 1.6rem);
}

.projectSectionWrapper {
  background-color: #72415e;
}

.projectImage {
  width: 100%;
  opacity: 0.8;
  cursor: pointer;
  background-color: #72415e;
  border-radius: 8px;
}

.projectImage:hover {
  opacity: 1;
}

.projectText {
  margin: 0;
  padding: 8px;
  font-size: clamp(1rem, 0.7rem + 1.3333vw, 1.4rem);
  border-radius: 8px;
  background-color: #212424;
}

.projectFooter {
  background-color: #72415e;
  padding: 8px;
  font-size: clamp(1rem, 0.7rem + 1.3333vw, 1.4rem);
}
.card a,
.projectFooter a {
  color: rgb(166, 166, 241);
  text-decoration: underline dotted;
}

.card a,
.projectFooter a:hover {
  color: rgb(183, 183, 241);
}

.card a,
.projectFooter a:active {
  color: rgb(201, 201, 243);
}
